@import './base.css';

#app {
  --timeline-height: 70vh;
  --timeline-dot-size: 2vh;
  --timeline-dot-height: 3vh;
  --timeline-gap: 0.5vh;
  --resume-container-width: 600px;
  --resume-color: white;
  --pop-up-bg-color: white;
  --pop-up-color: rgba(0, 0, 0, 0.87);
  --pop-up-border-color: rgba(0, 0, 0, 0.16);
  --pop-up-margin: 20px;
  --pop-up-padding: 20px;
  --toolbar-color: rgb(235, 235, 235);
  --toolbar-height: 44px;
  --selector-height: 90px;

  height: 100vh;
  align-items: center;
  font-family: 'Red Hat Display', Georgia, 'Times New Roman', Times, serif;
  color: var(--resume-color);

  @media only screen and (max-width: 800px) {
    --resume-container-width: 90%;
  }
  @media (prefers-color-scheme: dark) {
    --pop-up-bg-color: rgb(52, 52, 52);
    --pop-up-color: rgba(255, 255, 255, 0.87);
    --toolbar-color: rgb(72, 72, 72);
    --pop-up-border-color: rgba(255, 255, 255, 0.16);
  }
}
.bold {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
p {
  font-size: 14px;
  margin: 1em 0;
}
.caption {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: rgb(230, 76, 0);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: rgb(227, 114, 59);
    text-decoration: underline;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    margin: 12px 0;
  }
  .caption {
    font-size: 14px;
  }
}
